# OS-INIT -- disable I/O scheduler (optimal for SSD/NVMe), adapted from dpanic/patchfiles
ACTION=="add|change", KERNEL=="sd*[!0-9]|sr*|nvme*|mmcblk*", ATTR{queue/scheduler}="none"
